@import "normalize.less";

a { text-decoration: none; }
a:visited {  }
a:hover { cursor: pointer; }
a:focus {  }
a:hover, a:active { outline: 0; }
//@import "global-mobile.less";

.noWrap {
	white-space: nowrap;
}

body {
	width: 1210px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

/* ===== Color ================================================== */
@redText: #EE3124;
@blueText: #00AEC5;
@greyText: #111;
@purpleText: #A484BB;
@orangeText: #F0902F;
@greenText: #8AC749;
@greyBackground: #C7C1B7;

/* ===== Fonts ================================================== */
@font-face {
    font-family: 'MinionProMediumItalic';
    src: url('fonts/minion_pro_medium_italic-webfont.eot');
    src: url('fonts/minion_pro_medium_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/minion_pro_medium_italic-webfont.woff') format('woff'),
         url('fonts/minion_pro_medium_italic-webfont.ttf') format('truetype');
    
}
@font-face {
    font-family: 'MinionRegular';
    src: url('fonts/minion_regular-webfont.eot');
    src: url('fonts/minion_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/minion_regular-webfont.woff') format('woff'),
         url('fonts/minion_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MinionSemiboldItalic';
    src: url('fonts/minion_semibold_italic-webfont.eot');
    src: url('fonts/minion_semibold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/minion_semibold_italic-webfont.woff') format('woff'),
         url('fonts/minion_semibold_italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MinionDisplayRomanItalic';
    src: url('fonts/miniondisplayitalic-webfont.eot');
    src: url('fonts/miniondisplayitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/miniondisplayitalic-webfont.woff') format('woff'),
         url('fonts/miniondisplayitalic-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

// Hover and clicked states for jQuery





#headerContainer {
	height: 5em;
	width: 100%;
	max-height: 100px;
	top: 0;
	left: 0;

	.headerText {
		margin-top: 8%;
		margin-left: 8%;
		width: 92%;

		h1 {
			float: left;
			font-family: 'MinionRegular';
			font-weight: 500;
			font-size: 1.3em;
			letter-spacing: .07em;
			word-spacing: .1em;
			text-transform: uppercase;
			color: @redText;
			padding-right: .4em;
			line-height: .1em;
			a {
				color: @redText;
			}
		}

		h2#title {
			float: left;
			font-family: 'MinionDisplayRomanItalic';
			font-weight: 100;
			font-style: italic;
			color: @blueText;
			font-size: 1.4em;
			letter-spacing: .02em;
			word-spacing: .1em;
			line-height: .1em;
			margin-top: 14px;

			a {
				color: @blueText;
			}
		}
	}

	.topAddress {
		float: right;
		width: 100%;
		text-align: center;
		h3 {
			float: right;
			padding: 0;
			padding-right: 11%;
			margin-left: 9%;
			max-width: 570px;
			//min-width: 480px;
			font-family:  'Helvetica', 'arial', sans-serif;
			font-size: .67em;
			letter-spacing: .01em;
			font-weight: 100;
			color: @redText;

			span.black {
				color: black;
				font-size: 1.3em;
			}
		}
	}
	nav{z-index: -100;}
	.navBumper {
		position: relative;
		top: 80px;
		width: 200px;
		height: 51em;
		left: 0;
		
		#mainNav {
			padding-top: 130%;

			li {
				height: auto;
				
			}
			h3 {
				font-family:  'Helvetica', 'arial', sans-serif;
				text-transform: uppercase;
				font-size: .73em;
				letter-spacing: .06em;
				font-weight: 400;
				//margin-left: 30%;
				padding: 0;
				margin: 0;
			}
			a {
				color: @greyText;
			 	-webkit-transition:color .2s linear;  
			 	-moz-transition:color .2s linear;  
			 	-o-transition:color .2s linear;  
			 	transition:color .2s linear;   
				text-decoration: none;
			}
			li#about {
				padding: 0 0 25px 90px;

				a {
				color: @greyText;
				-webkit-transition:color .2s linear;  
				-moz-transition:color .2s linear;  
				-o-transition:color .2s linear;  
				transition:color .2s linear;
					
					&:hover {
						color: @redText;
						font-weight: 800;
					}
				}
			}

			li#portfolio {
				padding: 0 0 15px 90px;

				a {
					color: @greyText;
					-webkit-transition:color .2s linear;  
					-moz-transition:color .2s linear;  
					-o-transition:color .2s linear;  
					transition:color .2s linear; 

					&:hover {
						color: @redText;
						font-weight: 800;
					}
				}
			}

			li#portfolioDropdownLi {
				display: none;
				height: auto;
				margin: 0;
				padding: 0;

				ul {
					height: auto;
					width: auto;
					margin: 0;
					padding-left: 70px;
					
					li#books {
						padding: 0 0 15px 45px;

						a:hover {
							color:@purpleText;
							font-weight: 800;
						}
					}
					
					li#brochures {
						padding: 0 0 15px 45px;

						a:hover {
							color:@orangeText;
							font-weight: 800;
						}
					}

					li#ephemera {
						padding: 0 0 10px 45px;

						a:hover {
							color:@greenText;
							font-weight: 800;
						}
					}
				} // Portfolio Dropdown UL
			} // Portfolio Dropdown LI
			
			li#clientList {
				padding: 10px 0 0 90px;
				a:hover {
					color:@redText;
					font-weight: 800;
				}
			}
		}
	} // Nav Bumper
} // Header Container


#mainContainer {
	#main {

		// HOME STYLES
		#homeImageWrapper {
			float: right;
			margin: 0;
			padding: 0;
			width: 81%;
			
			img.homeImage {
				width: 100%;
			}
		}
	}
}

// About.html partial styles
.aboutWrapper {
	float: right;
	width: 81%;
	max-width: 970px;
	.aboutTextWrapper {
		position: relative;
		width: 285px;
		float: left;
		padding: 0;
		.aboutText p1{
			color: @greyText;
			font-family: 'MinionRegular', serif; 
			font-size: .95em;	
			line-height: 1.4em;	
		}
		p1.contact{
			position: absolute;
			float: right;
			margin-left: 16%;
			top: 480px;
			line-height: 1.25em;
			span.smallRedHeader {
				font-family:  'Helvetica', 'arial', sans-serif;
				color: @redText;
				text-transform: upperCase;
				font-size: .8em;
			}
		}
	}
		
	.aboutImageWrapper {
		float: right;
		margin: 0;
		padding: 0;
		width: 120%;
		min-height: 108px;
		min-width: 202px;
		max-width: 666px;
	
		img.aboutImage {
			width: 100%;
			height: 100%;
		}
	}
}

.portfolioWrapper {
	width: 100%;
	
	.backgroundGrey {
		height: 275px;
		background-color: @greyBackground;

		.portLinkImage1 {
			float: left;
			height: 275px;
			width: 403px;
			border-right: 1px solid @redText;

			img {
				height: 198px;
				width: 146px;
				padding-left: 127px;
				padding-top: 39px;
			}
		}

		.portLinkImage2 {
			float: left;
			height: 275px;
			width: 403px;
			border-right: 1px solid @redText;

			img {
				padding-left: 138px;
				padding-top: 46px;
			}
		}

		.portLinkImage3 {
			float: left;
			height: 275px;
			width: 400px;
				img {
					padding-top: 88px;
					padding-left: 72px;
				}
			}
		}
	}

	#booksWrapper {
		width: 100%;

		.backgroundGrey {
			height: 275px;
			background-color: @greyBackground;

			.booksImageWrapper {
				width: 900px;
				height: 275px;
				margin: 0 auto;

				.booksLinkImage1 {
					float: left;
					padding: 20px;

					img {
						height: 124px;
						width: 151px;
						margin-top:58px;
						
	       				&:hover {
					-webkit-box-shadow: 0 8px 15px -5px black;
					   -moz-box-shadow: 0 8px 15px -5px black;
					        box-shadow: 0 8px 15px -5px black;
					        width: 103%;
					        height: 103%;
	       				}
					}
				}
				.booksLinkImage2 {
					float: left;
					padding: 20px;

					img {
						height: 123px;
						width: 112px;
						margin-top: 58px;

						&:hover {
					-webkit-box-shadow: 0 8px 15px -5px black;
					   -moz-box-shadow: 0 8px 15px -5px black;
					        box-shadow: 0 8px 15px -5px black;
					        width: 103%;
					        height: 103%;
	       				}
					}
				}
				.booksLinkImage3 {
					float: left;
					padding: 20px;

					img {
						height: 161px;
						width: 110px;
						margin-top: 39px;

						&:hover {
					-webkit-box-shadow: 0 8px 15px -5px black;
					   -moz-box-shadow: 0 8px 15px -5px black;
					        box-shadow: 0 8px 15px -5px black;
					        width: 103%;
					        height: 103%;
	       				}
					}
				}
				.booksLinkImage4 {
					float: left;
					padding: 20px;

					img {
						height: 198px;
						width: 146px;
						margin-top: 21px;

						&:hover {
					-webkit-box-shadow: 0 8px 15px -5px black;
					   -moz-box-shadow: 0 8px 15px -5px black;
					        box-shadow: 0 8px 15px -5px black;
					        width: 103%;
					        height: 103%;
	       				}
					}
				}
				.booksLinkImage5 {
					float: left;
					padding: 20px;

					img {
						height: 172px;
						width: 125px;
						margin-top: 34px;

						&:hover {
					-webkit-box-shadow: 0 8px 15px -5px black;
					   -moz-box-shadow: 0 8px 15px -5px black;
					        box-shadow: 0 8px 15px -5px black;
					        width: 103%;
					        height: 103%;
	       				}
					}
				}
			} // booksImageWrapper
		} // backgroundGrey

		#booksSlideshowWrapper {
			border: 1px solid red;
			width: 900px;
			height: 600px;
			margin-left: 280px;

			#bookSlider1 {
				border: 1px solid blue;
				width: 800px;
				height: 400px;
				.switcherWrapper {


				}
				.numberClickWrapper {
					border: 1px solid green;
				
					
				}
			}

			.bookSlider2 {

			}
		} 
	} // books wrapper









//@import "media-queries.less";
//@import "helpers.less";
//@import "print.less";
/*
			.clickNavPortfolio {
				font-weight: 800;
				color: @redText;
			} 
			.clickNavBooks {
				font-weight: 800;
				color: @purpleText;
			}
			.clickNavBrochures {
				font-weight: 800;
				color: @orangeText;
			}
			.clickNavEphemera {
				font-weight: 800;
				color: @greenText;
			}
			.clickNavClientList {
				font-weight: 800;
				color: @redText;
			}
			.clickNavReset {
				font-weight: 400;
				color: @greyText;
			}
*/